<ion-header>

  <ion-navbar>
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="../assets/imgs/logo.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">

  <ion-list inset>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email"
                 placeholder="Your email address"
                 [class.invalid]="!loginForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <span *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.touched">
      <p class="error-message">Please enter a valid email address.</p>
    </span>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password"
                 placeholder="Your password"
                 [class.invalid]="!loginForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <span *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
      <p class="error-message">Your password needs more than 6 characters.</p>
    </span>
    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Log In
    </button>
  </form>

  </ion-list>
  <p class="center"(click)="goToSignup()">Don't have an account? Sign up!</p>
  <p class="center"(click)="goToSearchPage()">Continue as guest</p>
</ion-content>
