.center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.error-message {
  font-size: 0.8em;
}

.invalid {
  border-bottom: 1px solid #ff6153;
}